@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&display=swap");
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0; }

body {
  font-size: 18px;
  font-family: "Source Sans Pro", sans-serif;
  color: #353535; }

h1 {
  font-size: 18px; }

h2 {
  font-size: 26px; }

h1, h2, h3 {
  color: #fd5765; }

@media (min-width: 768px) {
  h1 {
    font-size: 26px; }

  h2 {
    font-size: 46px; } }
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px; }

.col-1 {
  width: 100%; }

header .banner {
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center; }
header nav {
  background: #f6f6f6;
  padding: 10px 0;
  width: 100%; }
  header nav .navbar {
    display: flex;
    justify-content: space-between; }
header .hamburger {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  header .hamburger span:not(:first-child) {
    margin-top: 4px; }
  header .hamburger span {
    width: 25px;
    height: 3px;
    background: #251657;
    display: flex;
    flex-direction: column; }

.wrapper {
  position: relative;
  left: 0;
  width: 100%;
  transition: all 0.3s ease-in-out; }
  .wrapper.nav-open {
    left: 350px; }

.push-nav {
  width: 350px;
  position: absolute;
  background: #251657;
  top: 0;
  bottom: 0;
  left: -350px;
  transition: all 0.3s ease-in-out;
  z-index: 1; }
  .push-nav h3 {
    padding: 15px 20px; }
  .push-nav .close-nav {
    font-size: 38px;
    position: absolute;
    top: 5px;
    right: 15px;
    display: block;
    z-index: 2;
    text-decoration: none;
    color: #FFF;
    font-weight: 200; }
  .push-nav.open {
    left: 0; }
  .push-nav ul {
    list-style: none; }
  .push-nav li {
    padding-left: 0; }
    .push-nav li a {
      text-decoration: none;
      display: block;
      width: 100%;
      padding: 15px;
      color: #FFF;
      position: relative; }
      .push-nav li a:hover {
        background: #fd5765; }
  .push-nav .dropdown {
    height: 0;
    overflow: hidden;
    background-color: #222222;
    transition: all 0.3s; }
  .push-nav .dropdown-link {
    position: relative; }
    .push-nav .dropdown-link .dropdown-icon {
      transition: all 0.3s; }
    .push-nav .dropdown-link.dropdown-open .dropdown {
      height: auto; }
    .push-nav .dropdown-link.dropdown-open .dropdown-icon {
      transform: rotate(135deg) translateX(-14px) translateY(11px);
      font-size: 28px; }
  .push-nav .dropdown-icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 25px;
    color: #fff;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center; }
